<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Title</title>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;1,400;1,700&family=Snippet&display=swap" rel="stylesheet">
  
  <!-- Styles -->
  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <main>

    <h1>Someone</h1>

    <nav>
      <ul class="links">
        <li>
          <a class="active" href="#first-category">First category</a>
          <a href="#second-category">Second category</a>
        </li>
      </ul>
      
      <section class="contact-info">
        <a href="/contact">
          Contact
        </a>
      </section>
    </nav>

    <ul id="first-category" class="items-container">
      <!-- Individual example -->
      <li class="item">
        <img class="visual-resource" aria-describedby=":id-title" srcset="https://loremflickr.com/640/360"/>
        <section class="info">
          <label id=":id-title" for=":id">Work title</label>
        </section>
      </li>

      <li class="item">
        <img class="visual-resource" aria-describedby=":id-title" srcset="https://loremflickr.com/640/360"/>
        <section class="info">
          <label id=":id-title" for=":id">Work title</label>
        </section>
      </li>
      <li class="item">
        <img class="visual-resource" aria-describedby=":id-title" srcset="https://loremflickr.com/640/360"/>
        <section class="info">
          <label id=":id-title" for=":id">Work title</label>
        </section>
      </li>
      <li class="item">
        <img class="visual-resource" aria-describedby=":id-title" srcset="https://loremflickr.com/640/360"/>
        <section class="info">
          <label id=":id-title" for=":id">Work title</label>
        </section>
      </li>
    </ul>
  </main>
</body>
</html>