:root {
  --color-01: #080808f5;
  --color-02: #474849;
  --color-03: #ef233c;
  --color-04: #d6e2f5;
  --color-05: #181e27;
  --color-06: #0940f3c9;

  --max-width: 80%;
  --font-Barlow: 'Barlow Condensed', sans-serif;
  --font-Dosis: 'Dosis', sans-serif;
  font-family: var(--font-Barlow);
  color: var(--color-04);
}

body {
  background-color: #181e27;
  background-image:url("https://zupimages.net/up/22/10/zrg9.png");
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:var(--font-Barlow);
  color: var(--color-04);
}
h1, h2, h3, h4, h5 {
  font-weight: 900;
  font-style: italic;
  white-space: pre-line;
}
a#category{
  font-family: var(--font-Dosis);
}
h1 {
  font-size: clamp(2.5rem, 5vw, 5rem);
}

h2 {
  font-size: clamp(1.5rem, 2.5rem, 3.5rem);
}
p {
  white-space: pre-line;
  font-family: var(--font-Dosis);
  
}
main a {
  cursor: pointer;
  color: var(--color-04);
  text-decoration: none;
  font-size: clamp(1.5rem, 2.5rem, 3.5rem);
}
a:hover{
  color: #0d6efd;
  text-decoration: underline;
}
#category:hover{
  color: var(--color-06);
}


main {
  width: 100%;
  max-width: var(--max-width);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.meta{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.navbar {
  font-size: clamp(1rem, 1.7rem, 2.5rem);
  font-weight: bold;
  width: 100%;
  font-family: var(--font-Dosis)
}
.fake-visual-resource{
  visibility: hidden;
}
#text{

  font-weight: bolder;
  color: white;
  font-style: italic;
}

a:hover{
  cursor:pointer;
}

#tags{
  visibility: hidden;
}
.navbar-brand{
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}

@media (min-width: 1px) and (max-width: 767px) {
  body {
    padding: 0.5rem;
  }
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.5rem;
  }
  p {
    font-size: 15px;
  }
  li .item{
    min-width: 500px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    padding: 1rem;
  }
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 1.5rem;
  } 
   p {
    font-size: 13px;
  }
}
